body {
    padding: 0;
    margin: 3em; 
    font-family: 'Source Sans Pro', input-mono-narrow, sans-serif;
    line-height: 1.4em;
    font-size: 1.15em;
    color: #fff;
    background: #626988;
  }
  
  *, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }
  
  nav {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5em;
  }
  
  nav li {
    color: red;
    display: inline-block;
    font-size: 1.2em;
    margin-right: 0.5em;
  }
  
  h1, h2, h3, h4 {
    text-transform: uppercase;
    /* font-weight: normal; */
    letter-spacing: .1em;
  }
  
  h1 {
    /* margin: 1em 0 3em 0; */
    padding: 0;
    text-decoration: none;
    /* font-weight: normal; */
    font-size: 1.75em;
    text-align: center;
  }
  
  h2 {
    /* font-weight: normal; */
    font-size: 1.75em;
    margin-top: 0;
  }
  
  h3 {
    text-transform: uppercase;
    font-size: 1.05em;
    font-weight: normal;

  }
  
  h3, table {
    margin-top: 2em;
  }

  h4 {
    font-weight: normal;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
  
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .container:after {
    content:"";
    display: table;
    clear: both;
  }
  
  .block {
    display: none;
  }
  
  a, .button {
    color: #fff;
    text-decoration: none;
    padding-bottom: .1em;
    border-bottom: 1.75px solid #f3b328;
    cursor: pointer;
    transition: all 0.5s ease;
    /* background: yellow; */
  }
  
  h1 a {
    background: none !important;
    text-decoration: none;
  }

  .headingText {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
  }
  .headingText h3{
      text-align: center;
  }
  .headingText h3:not(:last-child) {
      padding-right: 2em;
  }
  
  .weekBox {
      display: flex;
      justify-content: space-between;

  }
 .dayBox{
    /* background: peachpuff; */
    flex-basis: 100%;
    /* text-align: center; */
  }
  
  p {
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
  }
  
  section {
    margin-bottom: 4em;
  }

  section h3 {
    padding-bottom: .4em;
    border-bottom: .5px solid #ffffff59;
  }
  
  img {
    max-width: 100%;
  }
  
  li img {
    margin: 0.5em 0;
  }
  
  table {
    width: 100%;
  }
  
  tr {
    vertical-align: top;
  }
  
  td:nth-child(1) {  
    width: 15%;
    font-weight: bold;
  }
  
  td:nth-child(2) {  
    width: 15%;
  }
  
  td {
    width: 70%;
  }
  
  ol li {
    margin-bottom: 1em;
  }
  
  #meetings {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  
  #meetings tr:nth-child(1) {
    text-decoration: underline;
  }
  #meetings td:nth-child(1) {
    font-weight: normal;
  }
  
  #meetings td:nth-child(2) {  
    min-width: 6em;
  }
  
  .spacer {
    height: 1em;
  }
  .weekspacer {
    height: 3em;
  }
  
  #projects h3 {
    display: block;
    float: left;
    clear: both;
    margin: 0.5em 0;
  }
  
  #projects div {
    width: 100%;
    float: left;
    margin-bottom: 1em;
  }
  
  #projects h4 {
    font-weight: bold;
  }
  
  a:hover, .button:hover, #projects h3:hover, #projects h4:hover {
    border-bottom: 1.75px solid #f3b328;
    color: #f56410;
    cursor: pointer;
  }
  
  .label {
    font-weight: bold;
  }
  
  
  pre {
    line-height: 1.45em;
  }
  
  #bird-cnv {
    position:fixed;
    top: 50px;
    right: 50px;
  }
  
  #updated {
    width: 100%;
    text-align: right;
    color: #d0d0d0;
    position: relative;
    right: -1.5em;
    bottom: -1.5em;
  }
  
  
  @media screen and (max-width: 800px) {
    body {
      margin: 2em;
    }
  
    h1 {
      width: 100%;
      text-align: center;
    }
  
  
    #links {
      text-align: center;
      width: 95%;
    }
  
    nav {
      width: 100%;
      left: 0;
      top: 5em;
    }
    .headingText{
        display:initial;
        text-align: center;
    }
  
  }
  
  @media screen and (max-width: 1110px) {
    #bird-cnv {
      display:none;
    }
  
    .content {
      width: 100%;
    }
  }